<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.app.yimirong">


    <uses-permission android:name="com.fuiou.permission.FUIOU_PAY"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.fuiou.permission.FUIOU_PAY" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.xiaomi.market.sdk.UPDATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:icon">
        <uses-library android:name="android.test.runner"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c3730104e20561e3000128"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>


        <activity
            android:name=".activity.SplashActivity"
            android:icon="@mipmap/icon"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name="com.fuiou.mobile.activity.FyWebActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.FirstNavActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.BindActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.BuyRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PayInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.YeeBindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.SmsCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.BankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.SetPayPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PayActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.PayResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.CashActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.CashResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.ActionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.ProfitListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.InvestHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.InvestDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HQLogsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HQBuyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HQZCDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.FindPassActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.IdentifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HQZCActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.BarCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PersonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.BankInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.DQListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.SetLockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.UnLockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HQProfitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.CashDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PayDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.BuyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PaybackDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.AddCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.DQBuyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.DQPayBackDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HQToYueDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.HDDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.MsgDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.MyBarCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.InviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.InviteDescActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.MyAwardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.YQAwardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.YJAwardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.UseExpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.ExpDescActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.QAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.QADetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.PushMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.baofoo.sdk.vip.BaofooPayActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name="com.yintong.secure.service.PayService"
            android:exported="false"/>

        <activity
            android:name=".activity.YesterdayProfitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.HQZCHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.ResetLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.PhoneTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.ForgetPassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.ForgetPassTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateVisible|adjustPan"/>
        <activity
            android:name=".activity.MyRewardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.InviteRewardActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.BuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.BuyResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.ForgetLastActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
        <activity
            android:name=".activity.AssetNewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity
            android:name=".activity.ExpNewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity
            android:name=".activity.ExpYesterdayProfitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity
            android:name=".activity.QualificationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity
            android:name=".activity.CompanyNewsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity android:name=".activity.ActivityQZC"/>
        <receiver android:name=".receiver.MessageReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>